<% title "Projects" %>

<table>
  <tr>
    <th colspan='2' >Name</th>
    <th>Description</th>
    <th>Home?</th>
    <th>Public</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td>
        <%= render_colored_square( :color => project.color, :height => 15, :title => project.color ) %>
      </td>
      <td>
        <b><%= link_to(render_project(project),project) %></b>
      </td>
      <td><small><%= project.description %></small></td>
      <td><%= okno(project.home_visible) %></td>
      <td><%= okno project.public %></td>
      <td>
          <%#= link_to "Show", project %>
          <%= iconed_link_to "Edit", edit_project_path(project) %>
          <%= iconed_link_to "Destroy", project, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Project", new_project_path(project) %></p>
