<% title "Projects" %>

<table>
  <tr>
    <th >Icon</th>
    <th colspan='2' >Name</th>
    <th>Home?</th>
    <th>Public</th>
    <th>System</th>
    <th>Normal Tags</th>
    <th>Magic Tags</th>
    <th>Options</th>
  </tr>
  <% for @project in @projects %>
    <tr>
      <td>
        <%= render_project_icon( @project, :height => 25 ) %>
      </td>
      <td>
        <%= render_colored_square( :color => @project.color, :height => 15, :title => @project.color ) %>
      </td>
      <td>
        <b><%= link_to(render_project(@project), @project) %></b>
					<!--(Autoedit: <%#= on_the_spot_edit @project, :name %>) -->									
        <br/>
        <small><i>
          <%= on_the_spot_edit @project, :description %>
        </i></small>
      </td>
      <td><%= okno(@project.home_visible) %></td>
      <td><%= okno @project.public? %></td>
      <td><%= okno @project.system? %></td>
      <td><span class='tag'><%= @project.tag_list %></span></td>
      <td><span class='magic_tag'><%= @project.magic_tag_list %></span></td>
      <td>
          <%#= link_to "Show", @project %>
          <%= iconed_link_to "Edit", edit_project_path(@project) %>
          <%= iconed_link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Project", new_project_path(@project) %></p>
