<%
  $debug_info[:sessions] = session
  @base_models = %w{todos projects ric_addons#index }
%>
<!--
<img src='/images/logo-banner.png' width='100%' alt='alt' 
	style="opacity:0.4;filter:alpha(opacity=40)"
	title='banner title for APP_NAME_TODO' 
>
-->
<table border='0' width='100%' class='header_table' 
	BACKGROUND="/images/logo-banner.png"
	style="opacity:0.7;filter:alpha(opacity=50);background-repeat:no-repeat;"
>
	<tr>
		<td align='center' width='80%' >
			<%= link_to( '<b>Home</b>'.html_safe ,"/") %> 
			<% @base_models.each do |model| %> 
				<%= link_to(model,"/#{model.gsub(/#/,'/')}") %>
			<% end %> 
		</td>
		<td align='right' >
			<%= render :partial => 'ric_addons/minimal_search_form' %>
		</td>
	</tr>
	<tr>
		<td colspan=''>
			<h2><a href='/'><%=$APP_NAME%></a> </h2>
			"<i><%= $APP_HEADLINE %></i>"
		</td>
		<td valign='top' >
			<%= render :partial => 'ric_addons/nifty_login' rescue "NiftyLoginErr: #{$!}" %>
		</td>
	</tr>
</table>