<%
  $debug_info[:sessions] = session
  @base_models = $APP.fetch :base_models , %w{ ric_addons#how_to_add_base_models }
%>
<table border='0' width='100%' class='header_table' 
	BACKGROUND="/images/logo-banner.png"
	style="opacity:0.7;filter:alpha(opacity=50);background-repeat:no-repeat;"
>
	<tr>
		<td align='center' width='80%' >
			<%= link_to( '<b>Home</b>'.html_safe ,"/") %> 
			<% @base_models.each do |model| %> 
				<%= link_to(model,"/#{model.gsub(/#/,'/')}") %>
			<% end %> 
		</td>
		<td align='right' >
			<%= render :partial => 'ric_addons/minimal_search_form' %>
		</td>
	</tr>
	<tr>
		<td colspan=''>
			<h2><a href='/'><%=$APP_NAME%></a> </h2>
			"<i><%= $APP_HEADLINE %></i>"
		</td>
		<td valign='top' >
			<%= render :partial => 'ric_addons/nifty_login' %>
		</td>
	</tr>
</table>