<%= form_for @todo do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    TODO<%#= f.text_area :description %>
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p>
    <%= f.label :due %><br />
    <%= f.date_select :due %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= collection_select("todo", :user_id , [User.find(current_user.id)], :id, :username , :include_blank => false ) %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= collection_select("todo", :project_id , Project.find_all_by_user_id_and_active(current_user.id,true, :order => "name") , :id, :name , :include_blank => false ) %>
  </p>
  <p><%= f.submit %></p>
<% end %>
