<%
	@todo = Todo.new
%>
<%= form_for @todo do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :name %>
    <%= f.date_select :due %>
    <%= collection_select("todo", :project_id , Project.find_all_by_user_id_and_active(current_user.id,true, :order => "name") , :id, :name , :include_blank => false ) %>
<%= f.submit %></p>
<% end %>
