<%
  @quick_todo = Todo.new
%>
<div class='todo_oneline' >
<%= form_for @quick_todo do |f| %>
  <%= f.error_messages %>
  <p>
    <%#= t(:quick_create) %>
    <%= f.text_field :name %>
    Prio: <%= f.select :priority, 1..5, :default => 3 %>
    Proj: <%= f.collection_select(:project_id , Project.find_all_by_user_id_and_active(current_user.id,true, :order => "id") , :id, :name , :include_blank => false ) rescue "((ProjErr: #{$!}))" %>
<!--
    Due: <%#= f.date_select(:due) rescue "((DueErr: #{$!}))" %>
-->
<%= f.submit 'Add Todo' %></p>
<% end if logged_in? %>
</div>