	<div class='photo_right' align_removem='right' >
    <%= link_to( 
      image_tag("icons/todo/V-grey.png", :mouseover => "icons/todo/V.png", :height => 50) ,
      "/todos/#{@todo.id}/done", :title => t(:mark_as_done)
    ) unless @todo.done? %>
		<table border='0'><tr><td>
		<%= render_photo_url(@todo, :height => 200 ) if @todo.photo_url? %>
		</table>
	</div>
	<h1><%= render_todo_name(@todo) %></h1>
	<p>
	  <%= iconed_link_to "Edit", edit_todo_path(@todo) %> |
	  <%= iconed_link_to "Destroy", @todo, :confirm => 'Are you sure?', :method => :delete %> |
	  <%= iconed_link_to "View All", todos_path %>
	</p>
	<p>
	  <strong>Due:</strong>
	  <%= @todo.due %>
	</p>
	<p>
	  <strong>Tags:</strong>
	  <%= render_tags(@todo) %>
	</p>
	<p>
	  <strong>favorite:</strong>
	  <%= render_icon_favorite( @todo ) %>
	</p>
	<p>
	  <strong>Progress Status:</strong>
	  <%= @todo.progress_status %>%
	</p>
	<p>
	  <strong>Hide Until:</strong>
	  <%= render_todo_hide_until(@todo) %>
	</p>
	<p>
	  <strong>Priority:</strong>
	  <%= render_priority(@todo) %>
	</p>
	<p>
	  <strong>Project:</strong>
	  <%= link_to( render_project(@todo.project), @todo.project ) %>
	  (<%= iconed_link_to "Edit", edit_project_path(@project) %>)
	</p>
	<p>
	  <strong>Where:</strong>
	  <%= (@todo.where) rescue "Err('#{$!}')"%>
	</p>
	<p>
	  <strong>URL:</strong>
	  <%= @todo.url rescue "ErrURL('#{$!}')"%>
	</p>
	<p>
	  <strong>Depends on (father):</strong>
	  <%= link_to( render_todo_name(@todo.todo), @todo.todo ) if @todo.todo %>
	  <%#= @todo.depends_on_id %>
	</p>
	<p>
	  <strong>Depended upon (sons):</strong>
	  <% Todo.find_all_by_user_id_and_depends_on_id(current_user.id, @todo.id).each do |sub_todo|%>
	  	<%= link_to( render_todo_name(sub_todo),sub_todo ) %>
	  <% end %>
	</p>
	<hr/>
	<p>
		<pre>
	  		<%= @todo.description %>
		</pre>
	</p>
	<hr/>
	<p class='todo-system-notes'>
		<tt>
	  		<%= @todo.sys_notes %>
		</tt>
	</p>
