<% if @todo %>
	<div class='photo_right' align='right' >
		<%= render_todo_action_icons(@todo) rescue "ErrWithActionsIcons: #{$!}" %>
		<%= render_photo_url(@todo) rescue "ErrWithPhotorl: #{$!}" %>
	</div>
	<h1><%= render_todo_name(@todo) %></h1>
	<p>
	  <%= iconed_link_to "Edit", edit_todo_path(@todo) %> |
	  <%= iconed_link_to "Destroy", @todo, :confirm => 'Are you sure?', :method => :delete %> |
	  <%= iconed_link_to "View All", todos_path %>
	</p>
	<!--
		<p>(InPlace Test) DOESNT WORK ON RAILS 3, demmit!
			<%#= in_place_editor_field :todo, :name, {}, :rows => 1 %>
			<%#= in_place_editor_field :todo, "where", {}, :rows => 1 %>
	-->
	<p>
	  <strong>Due:</strong>
	  <%= @todo.due %>
	</p>
	<p>
	  <strong>favorite:</strong>
	  <%= render_icon_favorite( @todo ) %>
	</p>
	<p>
	  <strong>Progress Status:</strong>
	  <%= @todo.progress_status %>%
	</p>
	<p>
	  <strong>Hide Until:</strong>
	  <%= render_todo_hide_until(@todo) rescue "Err('#{$!}')"%>
	</p>
	<p>
	  <strong>Priority:</strong>
	  <%= render_priority(@todo) %>
	</p>
	<p>
	  <strong>Project:</strong>
	  <%= link_to( render_project(@todo.project), @todo.project ) %>
	</p>
	<p>
	  <strong>Where:</strong>
	  <%= (@todo.where) rescue "Err('#{$!}')"%>
	</p>
	<p>
	  <strong>URL:</strong>
	  <%= @todo.url rescue "ErrURL('#{$!}')"%>
	</p>
	<p>
	  <strong>Depends on (father):</strong>
	  <%= link_to( render_todo_name(@todo.todo), @todo.todo ) if @todo.todo %>
	  <%#= @todo.depends_on_id %>
	</p>
	<p>
	  <strong>Depended upon (sons):</strong>
	  <% Todo.find_all_by_user_id_and_depends_on_id(current_user.id, @todo.id).each do |sub_todo|%>
	  	<%= link_to( render_todo_name(sub_todo),sub_todo ) %>
	  <% end %>
	</p>
	<hr/>
	<p>
		<pre>
	  		<%= @todo.description %>
		</pre>
	</p>
	<hr/>
	<p>
		<tt>
	  		<%= @todo.sys_notes %>
		</tt>
	</p>
	
<% else %>
	<%=t(:todo_not_found)%>: <%= @todo.inspect %>
<% end %>