<%
 #Todo.with_scope(:find => {:conditions => "user_id = #{current_user.id}"},
 #                :create => {:user_id => current_user.id}) do
 # user_posts = Post.find(:all)
%>
<%# title "Todos" %>

<table>
  <tr>
    <th>Todos</th>
    <th>Project</th>
  </tr>
  <% for todo in @todos %>
    <tr>
			
      <td><%= render_priority_icon(todo) %></td>
      <td><%= render_todo_name(todo) %></td>
      <td><%= render_project(todo.project) %></td>
      <td><%= link_to "Show", todo %></td>
      <td><%= link_to "Edit", edit_todo_path(todo) %></td>
      <td><%= link_to "Destroy", todo, :confirm => 'Are you sure?', :method => :delete %></td>
      <td><%#= link_to "Toggle (TODO)", todo, :method => :toggle %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Todo", new_todo_path(todo) %></p>
