<% title "Todo" %>

<p>
  <strong>Name:</strong>
  <%= render_name(@todo) %>
</p>
<p>
  <strong>Active:</strong>
  <%= @todo.active %>
</p>
<p>
  <strong>Due:</strong>
  <%= @todo.due %>
</p>
<p>
  <strong>User:</strong>
  <%= @todo.user_id %>
</p>
<p>
  <strong>Project:</strong>
  <%= @todo.project_id %>
</p>

<p>
  <%= iconed_link_to "Edit", edit_todo_path(@todo) %> |
  <%= iconed_link_to "Destroy", @todo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= iconed_link_to "View All", todos_path %>
</p>
