<% #title "Todo" %>
<h1><%= render_name(@todo).capitalize %></h1>
<p>
  <strong>Due:</strong>
  <%= @todo.due %>
</p>
<p>
  <strong>description:</strong>
  <%= @todo.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to( render_project(@todo.project), @todo.project ) %>
</p>

<p>
  <%= iconed_link_to "Edit", edit_todo_path(@todo) %> |
  <%= iconed_link_to "Destroy", @todo, :confirm => 'Are you sure?', :method => :delete %> |
  <%= iconed_link_to "View All", todos_path %>
</p>
