<%
  $debug_info[:sessions] = session
  @base_models = $APP.fetch :base_models , %w{ ric_addons#how_to_add_base_models }
%>
    <!-- i due margin left e right sono per centrare la tabella https://www.w3schools.com/howto/howto_css_table_center.asp*/ 2020 :) -->
<table border='0' width='80%' class='header_table' 
	BACKGROUND="/images/logo-banner.png"
	style="opacity:0.6;filter:alpha(opacity=50);background-repeat:no-repeat; margin-left: auto; margin-right: auto;"
>
	<tr>
		<td align='center' width='80%' >
			<%= link_to( '<b>Home</b>'.html_safe ,"/") %> 
			<% @base_models.each do |model| %> 
				<%= link_to(model.capitalize,"/#{model.gsub(/#/,'/')}") %>
			<% end %> 
		</td>
		<td align='right' >
			<%= render :partial => 'ric_addons/minimal_search_form' %>
		</td>
	</tr>
	<tr>
		<td colspan=''>
			<h2><a href='/'><%=$APP_NAME%></a> </h2>
			"<i><b><%= $APP_HEADLINE %></i></b>"
		</td>
		<td valign='top' >
			<%= render :partial => 'layouts/nifty_login' %>
		</td>
	</tr>
</table>

