<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Septober" %></title>
    <%= stylesheet_link_tag 'septober', "application" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id='header' >
      <%= render :partial => 'ric_addons/header' %>
    </div>
    <div id="container" >
      <%= render 'todos/oneline_create' %>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <div id='footer' >
       <%= render :partial => 'ric_addons/footer' %>
    </div>
  </body>
</html>
